.container{
    width: 100%;
    height: 100%;
}

.Header{
    background-color: rgb(240, 227, 143) ;
    height: 20%;
}
  
.plants{
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(239, 236, 217);
    width: auto;
    padding: 2%;
    margin: auto; 
    margin-top: 0px;
    height: auto;
}

.Content2 {
    background-color: #466a0b;
    display: flex;
    height: 80%; 
    width: 100%;
}

.plants2{
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(235, 206, 20);
    width: auto;
    padding: 2%;
    margin: auto; 
    margin-top: 0px;
    height: auto;
}
  